.round-info {
    border-radius: 100px;
    background: #dededf;
    /* margin: 120px 50px 50px 50px; */
    margin: auto;
    width: 30%;
    padding: 50px 50px 50px 50px;
    margin-bottom: 100px;
    text-align: center;
    /* display: inline-block; */
    height: 100%;


}
.usage-text {
    font-size: xx-large;
}
.main_page {
    text-align: center;
}
.main-img {
    display: block;
    margin-left: auto;
    margin-bottom: 120px;
    margin-right: auto;
    width: 70%;
    /* border: 4px solid black; */
}
.space {
    height: 100px;
}