
.light-green {
    background-color: #93ce64;
}
.white {
    color: #ffffff
}

.shadoww {
    text-shadow: 8px 8px 2px #6e9a4b
}
.auto-h {
    max-width: 100%;
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
}

img { 
    -webkit-filter: drop-shadow(11px 9px 1px #6e9a4b);
    filter:         drop-shadow(11px 9px 1px #6e9a4b); 
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color:#dddddd; 
    text-decoration:none; 
    cursor:pointer;  
}