.login {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.form-login {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
}
.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.div-login {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.div-inputs {
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
}