<div class="container login">
    <form class="form-login">

        <h1 class="h3 mb-3 font-weight-normal">Realize o Login</h1>
        <div class="div-login"></div>
        <div class="row align-items-center div-inputs">
            <div class="col-2">
                <label>Email:</label>
            </div>
            <div class="col-10">
                <input type="email" id="email" class="form-control" required autofocus>
            </div>
        </div>
        <div class="row align-items-center div-inputs">
            <div class="col-2">
                <label>Senha:</label>
            </div>
            <div class="col-10">
                <input type="password" id="password" class="form-control" required>
            </div>
        </div>
        <div class="col text-center div-login">
            <button class="btn btn-lg btn-primary" type="submit">Confirmar</button>
        </div>
    </form>
</div>