<div class="container signup">
    <form class="form-signup">

        <h1 class="h3 mb-3 font-weight-normal">Realize o Cadastro</h1>
        <div class="div-signup"></div>
        <div class="row align-items-center div-inputs">
            <div class="col-2">
                <label>Email:</label>
            </div>
            <div class="col-10">
                <input type="email" id="email" class="form-control" required autofocus>
            </div>
        </div>
        <div class="row align-items-center div-inputs">
            <div class="col-2">
                <label>Senha:</label>
            </div>
            <div class="col-10">
                <input type="password" id="password1" class="form-control" required>
            </div>
        </div>
        <div class="row align-items-center div-inputs">
            <div class="col-2">
                <label>Confirme a Senha:</label>
            </div>
            <div class="col-10">
                <input type="password" id="password2" class="form-control" required>
            </div>
        </div>
        <div class="col text-center div-signup">
            <button class="btn btn-lg btn-primary" type="submit">Confirmar</button>
        </div>
    </form>
</div>